{% extends 'base.html' %}
 {% block content %} 
      <div class="container my-lg-5 ml-lg-9" style="padding: 25px; background-color:yellowgreen;">
        <form class="col-md-12 justify-content-md-center bg-info text-light" method="post" id="contact" action="{% url 'save_details' %}">
          {% csrf_token %}
            <div class="form-group ">
            <label for="exampleFormControlInput1"><b style="font-size: larger; font-family: Georgia, 'Times New Roman', Times, serif;">Email address</b></label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email" required>
            </div>
        
            <div class="form-group bold">
            <label for="exampleFormControlTextarea1"><b style="font-size: larger; font-family: Georgia, 'Times New Roman', Times, serif;">Write Your Concern</b></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text" required></textarea>
            </div> 
                 <button class="btn btn-primary ml-sm-3 my-5"><b>Submit</b></button>
        </form>
      </div>
 {% endblock content %}
  

